In [1]:
# Basic packages
import pandas as pd
import numpy as np
import seaborn as sb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# For API calling
import requests
import json

# For data
from pathlib import Path
# Enter path to data here
DataPath = Path("/Users/joezanini/Downloads/Mothership Data Sources210215 - 2000_norcal_hoods.csv")

# Pandas options for display values
pd.options.display.max_rows = 7
pd.set_option("display.max_columns", 50)
pd.options.display.float_format = '{:,.2f}'.format
pd.options.mode.chained_assignment = None  # default='warn'

# access AWS
from sqlalchemy import create_engine

Create subset for development purpose

In [2]:
df = pd.read_csv(DataPath)
#change name from 'Joe' to 'your name'
df1 = df[df['Assigned to']=='Joe'][['name','County']]
df1['query'] = df1[['name', 'County']].apply(lambda x: ', '.join(x), axis=1)
df1.shape

(716, 3)

In [3]:
pd.options.display.max_rows = 20
df1.head(5)

,name,County,query
1284,Adobe Meadow / Meadow Park,Santa Clara,"Adobe Meadow / Meadow Park, Santa Clara"
1285,Albanese,Santa Clara,"Albanese, Santa Clara"
1286,Alberstone / Beck,Santa Clara,"Alberstone / Beck, Santa Clara"
1287,Alderbrook,Santa Clara,"Alderbrook, Santa Clara"
1288,Alexander,Santa Clara,"Alexander, Santa Clara"

Wikipedia package

In [4]:
import wikipedia

def city_desc(CITY_STATE,SENTENCES=3):
    try:
        desc = wikipedia.summary(title=CITY_STATE, sentences=SENTENCES)  
    except wikipedia.exceptions.DisambiguationError as e:
        #print('b')
        desc = ''
    except wikipedia.exceptions.PageError as e:
        #print('b')
        desc = ''
        
    return desc

In [5]:
from tqdm import tqdm_notebook as tqdm
tqdm().pandas()
#type(df1['name'])
df1['city_quick_facts'] = df1.progress_apply(lambda row : city_desc(row['query']),axis=1)

<ipython-input-5-32ffa9183ee5>:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  tqdm().pandas()

0it [00:00, ?it/s]

  0%|          | 0/716 [00:00<?, ?it/s]

/Users/joezanini/opt/anaconda3/lib/python3.8/site-packages/wikipedia/wikipedia.py:389: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 389 of the file /Users/joezanini/opt/anaconda3/lib/python3.8/site-packages/wikipedia/wikipedia.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  lis = BeautifulSoup(html).find_all('li')

In [6]:
df1.to_csv('n_desc1.csv', encoding='utf-8')